.about {
    margin: 0 28rem;
    padding: 6.5rem 0;
}

.about h1 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: .5rem;
}

.about p {
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
}

.about a {
    text-decoration: underline;
    color: var(--custom-blue);
    transition: color .1s ease;
}

.about a:visited,
.about a:hover {
    color: var(--custom-purple);
}