.dashboard {
    display: flex;
    flex-direction: row;
    padding: 5.5rem 1rem 2rem;
    width: 94.5rem;
}

/* LEFT SIDE */

.dashboard .left-side {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    padding-top: 1rem;
    gap: 1.5rem;
    width: 85%;
    height: 100%;
}

.dashboard h1 {
    margin-bottom: .3rem;
    font-size: 2.8rem;
    font-weight: 300;
}

.dashboard p {
    font-size: 1.15rem;
}

.returns-container {
    display: flex;
    flex-direction: row;
    margin-top: .8rem;
    align-items: center;
    justify-content: space-between;
    width: 62rem;
    height: 100%;
}

.returns-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 .8rem;
    justify-content: center;
    width: 19.2rem;
    height: 7rem;
    border-radius: 10px;
    transition: box-shadow .3s ease;
    user-select: none;
    cursor: default;
}

.todays-return {
    box-shadow: 0 0 .2rem var(--custom-orange);
    background: var(--custom-orange);
}

.todays-return:hover {
    box-shadow: 0 0 .5rem var(--custom-orange);
}

.quarterly-return {
    box-shadow: 0 0 .2rem var(--custom-red);
    background: var(--custom-red);
}

.quarterly-return:hover {
    box-shadow: 0 0 .5rem var(--custom-red);
}

.compound-annual-return {
    box-shadow: 0 0 .2rem var(--custom-darkblue);
    background: var(--custom-darkblue);
}

.compound-annual-return:hover {
    box-shadow: 0 0 .5rem var(--custom-darkblue);
}

.returns-box .icon {
    position: absolute;
    top: .6rem;
    right: 1.4rem;
    font-size: 1.5rem;
}

.todays-return .icon {
    fill: var(--custom-lightorange);
}

.quarterly-return .icon {
    fill: var(--custom-sunsetpink);
}

.compound-annual-return .icon {
    fill: var(--bg-second-color);
}

.returns-box h3 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--bg-second-color);
}

.returns-box p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--bg-second-color);
}

.dashboard-container {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 .5rem var(--translucent-black);
    background: var(--bg-second-color);
    transition : box-shadow .2s ease;
}

.dashboard-container:hover {
    box-shadow: 0 0 1rem var(--translucent-black);
}

.graph-container {
    width: 62rem;
}

.graph-container h2 {
    padding: .8rem 0 .4rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    user-select: none;
}

/* OVERVIEW */

.overview-container {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    width: 62rem;
}

.overview-top-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
    justify-content: space-between;
}

.overview-top-container h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

.overview-top-container .overview-button-container {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

.overview-button {
    padding: .5rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    transition: .2s ease;
}

.overview-button:hover {
    background: var(--translucent-blue);
}

.overview-button p {
    font-size: .9rem;
    color: var(--text-main-color);
    user-select: none;
}

.overview-button.active {
    background: var(--custom-darkblue);
}

.overview-button.active:hover {
    box-shadow: 0 0 .3rem var(--custom-darkblue);
}

.overview-button.active p {
    color: var(--bg-second-color);
}

.overview-container .column-labels {
    display: grid;
    grid-template-columns: 15% 45% 16% 13% 11%;
    margin-bottom: .5rem;
    width: 100%;
}

.overview-container .column-labels p {
    font-size: .8rem;
    text-align: left;
    color: var(--custom-darkgray);
    user-select: none;
}

.overview-item {
    display: grid;
    grid-template-columns: 15% 45% 16% 13% 11%;
    width: 100%;
    height: 3rem;
    align-items: center;
    border-top: solid 1px var(--custom-midgray);
    animation: fade-in 1s;
}

.overview-item h3 {
    display: flex;
    flex-direction: row;
    width: 5.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 500;
    user-select: none;
}

.overview-item h4 {
    font-size: 1rem;
    font-weight: 500;
}

.overview-item .price {
    font-size: 1rem;
    font-weight: 400;
}

.overview-item .amount {
    font-weight: 400;
}

.overview-item .change {
    padding: .3rem .4rem;
    width: 5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    user-select: none;
}

/* RIGHT SIDE */

.dashboard .right-side {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    gap: 1.5rem;
    width: 40%;
    height: 100%;
    border-radius: 10px;
}

.leaderboard-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem .7rem;
}

.leaderboard-container h1 {
    position: absolute;
    top: 0;
    right: 0;
    padding: .4rem 0;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0 0;
    font-size: 1rem;
    font-weight: 500;
    background: var(--custom-darkblue);
    color: white;
    user-select: none;
}

.leaderboard-button-container {
    display: flex;
    margin: 1.8rem 0 1rem;
    width: 100%;
    justify-content: space-between;
}

.leaderboard-button {
    padding: .5rem 1rem;
    border-radius: 50px;
    cursor: pointer;
    transition: .2s ease;
}

.leaderboard-button:hover {
    background: var(--translucent-blue);
}

.leaderboard-button p {
    font-size: .9rem;
    color: var(--text-main-color);
    user-select: none;
}

.leaderboard-button.active {
    background: var(--custom-darkblue);
}

.leaderboard-button.active:hover {
    box-shadow: 0 0 .3rem var(--custom-darkblue);
}

.leaderboard-button.active p {
    color: var(--bg-second-color);
}

.leaderboard-item {
    position: relative;
    display: grid;
    grid-template-columns: 17% 47% 18% 18%;
    grid-template-rows: 100%;
    width: 100%;
    height: 4.2rem;
    align-items: center;
    border-top: solid 1px var(--custom-midgray);
    animation: fade-in 1s;
}

.leaderboard-item h3 {
    display: flex;
    flex-direction: row;
    width: 3.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 500;
    user-select: none;
}

.leaderboard-item h4 {
    font-size: 1rem;
    font-weight: 500;
}

.leaderboard-item .price {
    font-size: 1rem;
    font-weight: 400;
}

.leaderboard-item .change {
    padding: .3rem .4rem;
    width: 5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    user-select: none;
}