.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home > * {
    font-family: 'Inter';
}

.home .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background: var(--custom-darkred);
}

.home .left-side .logo {
    display: flex;
    width: 35vw;
    height: 35vw;
    user-select: none;
    pointer-events: none;
}

.home .right-side {
    display: flex;
    flex-direction: column;
    padding: 10rem 0;
    align-items: center;
    justify-content: top;
    width: 50%;
    height: 100vh;
    background: var(--bg-main-color);
}

.login-header {
    margin-bottom: 3rem;
}

.login-header h1 {
    font-size: 2.7rem;
    color: var(--custom-red);
}

.login-header p {
    margin-top: 1rem;
    font-size: 1rem;
}

.home .input-container {
    position: relative;
}

.home .input-container .icon {
    position: absolute;
    top: 1.5rem;
    left: .5rem;
    font-size: 2rem;
}

.home input {
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 2.8rem;
    width: 100%;
    height: 3rem;
    font-size: 1.1rem;
}

.create-account-button {
    margin-top: 1.5rem;
}

.create-account-button p {
    text-align: left;
    color: var(--custom-blue);
    cursor: pointer;
}

.login-button {
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    border-radius: 10px;
    background: var(--custom-red);
    cursor: pointer;
    user-select: none;
    transition: box-shadow .2s ease;
}

.login-button:hover {
    box-shadow: 0 0 .3rem var(--custom-red);
}

.login-button p {
    text-align: center;
    font-size: 1.5rem;
    color: var(--bg-main-color);
}

.guest-login {
    margin-top: 2rem;
}

.home .right-side span {
    color: var(--custom-blue);
}