.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15rem 20rem;
}

.home > * {
    font-family: 'Alliance No.1';
}

.welcome-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text-container h1 {
    text-align: right;
    font-size: 5rem;
    font-weight: 500;
}

.welcome-text-container p {
    margin-top: 2rem;
    text-align: right;
    font-size: 2rem;
}

.entry-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 50%;
    height: 100%;
}

.entry-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 4rem;
    border-radius: 10px;
    transition: box-shadow .3s ease;
    user-select: none;
    cursor: pointer;
}

.entry-button h3 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--bg-second-color);
}

.signup-button {
    box-shadow: 0 0 .2rem var(--custom-sunsetpink);
    background: var(--custom-sunsetpink);
}

.signup-button:hover {
    box-shadow: 0 0 .5rem var(--custom-sunsetpink);
}

.login-button {
    box-shadow: 0 0 .2rem var(--custom-sunsetpink);
    background: var(--custom-sunsetpink);
}

.login-button:hover {
    box-shadow: 0 0 .5rem var(--custom-sunsetpink);
}

.submit-button {
    align-self: center;
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 10px;
    box-shadow: 0 0 .2rem var(--custom-darkblue);
    background: var(--custom-darkblue);
    color: var(--bg-second-color);
    transition: box-shadow .3s ease;
    cursor: pointer;
}

.submit-button:hover {
    box-shadow: 0 0 .5rem var(--custom-darkblue);
}

.guest-login-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: .5rem;
    width: 100%;
    height: 100%;
    text-align: center;
}

.guest-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 20rem;
    height: 4rem;
    border-radius: 10px;
    box-shadow: 0 0 .5rem var(--text-main-color);
    transition: box-shadow .3s ease;
    user-select: none;
    cursor: pointer;
}

.guest-login-button:hover {
    box-shadow: 0 0 .7rem var(--text-main-color);
}

.register-message {
    margin-top: 1rem;
}

.register-message.success {
    color: var(--custom-green);
}

.register-message.failure {
    color: var(--custom-red);
}