.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home > * {
    font-family: 'Inter';
}

/* LEFT SIDE */

.home .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background: var(--custom-darkred);
}

.home .left-side .logo {
    display: flex;
    width: 35vw;
    height: 35vw;
    border-radius: 100%;
    user-select: none;
    transition: box-shadow .2s ease;
}

.home .left-side .logo:hover {
    box-shadow: 0 0 1rem var(--bg-main-color);
}

/* RIGHT SIDE */

.home .right-side {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background: var(--bg-main-color);
}

.login-header {
    margin-bottom: 2.5rem;
}

.login-header h1 {
    text-align: left;
    font-size: 2.7rem;
    font-weight: 600;
    color: var(--custom-red);
}

.login-header p {
    margin-top: .7rem;
    font-size: 1rem;
}

.login-panel .error-message {
    color: var(--custom-lightred);
}

.login-panel .input-container {
    position: relative;
}

.login-panel .input-container .icon {
    position: absolute;
    top: 1.5rem;
    left: .5rem;
    font-size: 2rem;
}

.login-panel .input-container #user-icon {
    top: 1.6rem;
    left: .65rem;
    font-size: 1.7rem;
}

.login-panel input {
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 2.8rem;
    width: 100%;
    height: 3rem;
    font-size: 1.1rem;
}

.login-panel .create-account-button {
    margin-top: .4rem;
}

.login-panel .create-account-button p {
    margin-left: -.8rem;
    padding: .7rem;
    width: 11rem;
    text-align: center;
    border-radius: 20px;
    color: var(--custom-blue);
    cursor: pointer;
    transition: .2s ease;
}

.login-panel .create-account-button p:hover {
    background: var(--translucent-blue);
}

.login-button {
    display: flex;
    margin-top: .4rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    border-radius: 25px;
    background: var(--custom-red);
    cursor: pointer;
    user-select: none;
    transition: .2s ease;
}

.login-button:hover {
    box-shadow: 0 0 .3rem var(--custom-midred);
    background: var(--custom-midred);
}

.login-button p {
    text-align: center;
    font-size: 1.5rem;
    color: var(--bg-main-color);
}

.guest-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.3rem;
}

.guest-login span {
    display: flex;
    margin-left: .1rem;
    padding: .3rem;
    border-radius: 20px;
    color: var(--custom-blue);
    cursor: pointer;
    transition: .2s ease;
}

.guest-login span:hover {
    background: var(--translucent-blue);
}

/* SIGNUP PANEL */

.signup-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
    align-items: left;
    justify-content: center;
}

.signup-header {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .3rem;
}

.signup-header h1 {
    text-align: center;
    font-weight: 500;
    color: var(--custom-red);
}

.signup-header p {
    margin-top: .3rem;
    text-align: center;
    font-size: 1rem;
}

.signup-panel .error-message {
    align-self: center;
    width: 25rem;
    text-align: center;
    color: var(--custom-lightred);
}

.signup-panel .input-container {
    position: relative;
}

.signup-panel .input-container .icon {
    position: absolute;
    top: 1.5rem;
    left: .5rem;
    font-size: 2rem;
}

.signup-panel .input-container #user-icon {
    top: 1.6rem;
    left: .65rem;
    font-size: 1.7rem;
}

.signup-panel input {
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 2.8rem;
    width: 100%;
    height: 3rem;
    font-size: 1.1rem;
}

.signup-button-container {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.cancel-button {
    display: flex;
    margin-top: .4rem;
    justify-self: left;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 2.5rem;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    transition: .2s ease;
}

.cancel-button:hover {
    background: var(--translucent-blue);
}

.cancel-button p {
    text-align: center;
    font-size: 1.1rem;
    color: var(--custom-blue);
}

.signup-button {
    display: flex;
    margin-top: .4rem;
    justify-self: center;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 3rem;
    border-radius: 20px;
    background: var(--custom-red);
    cursor: pointer;
    user-select: none;
    transition: .2s ease;
}

.signup-button:hover {
    box-shadow: 0 0 .3rem var(--custom-midred);
    background: var(--custom-midred);
}

.signup-button p {
    text-align: center;
    font-size: 1.1rem;
    color: var(--bg-main-color);
}