.portfolio {
    padding: 7rem 0;
    margin: 0 10rem;
}

.portfolio-header {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.portfolio h1 {
    margin-bottom: .5rem;
    text-align: left;
    font-size: 2.3rem;
    font-weight: 500;
}

.portfolio h2 {
    font-size: 2rem;
    font-weight: 400;
}

.portfolio h2 span {
    font-weight: 600;
}

.portfolio p {
    text-align: left;
    font-size: 1.1rem;
}

.change.positive {
    background: var(--translucent-green);
    color: var(--custom-green);
}

.change.negative {
    background: var(--translucent-red);
    color: var(--custom-red);
}

.portfolio .top-button-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 4rem;
    align-items: center;
    justify-content: left;
}

.toggle-view-button {
    padding: .5rem 1rem;
    border-radius: 20px;
    box-shadow: 0 0 .1rem var(--custom-blue);
    background: var(--custom-blue);
    cursor: pointer;
    user-select: none;
    transition: box-shadow .2s ease;
}

.toggle-view-button:hover {
    box-shadow: 0 0 .4rem var(--custom-blue);
}

.toggle-view-button p {
    font-size: 1.2rem;
    text-align: center;
    color: var(--bg-second-color);
}

.no-investments {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100em;
    position: absolute;
    left: 0;
    justify-content: center;
}

.no-investments p {
    font-size: 1.3rem;
    color: var(--custom-gray);
}

.no-investments img {
    width: 15rem;
}

/* HOLDINGS DISPLAY */

.holdings-display {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    min-height: 50vh;
}

.communication-services h3 {
    background: var(--custom-sunsetpink);
    color: var(--bg-second-color);
}

.consumer-discretionary h3 {
    background: var(--custom-blue);
    color: var(--bg-second-color);
}

.consumer-staples h3 {
    background: var(--custom-darkred);
    color: var(--bg-second-color);
}

.energy h3 {
    background: var(--custom-red);
    color: var(--bg-second-color);
}

.financials h3 {
    background: var(--custom-green);
    color: var(--bg-second-color);
}

.health-care h3 {
    background: var(--custom-purple);
    color: var(--bg-second-color);
}

.industrials h3 {
    background: var(--custom-darkblue);
    color: var(--bg-second-color);
}

.information-technology h3 {
    background: var(--custom-red);
    color: var(--bg-second-color);
}

.materials h3 {
    background: var(--custom-darkgreen);
    color: var(--bg-second-color);
}

.real-estate h3 {
    background: var(--custom-midred);
    color: var(--bg-second-color);
}

.utilities h3 {
    background: var(--custom-lightorange);
    color: var(--text-main-color);
}

.edit-holding-popup {
    display: none;
}

.edit-holding-popup.active {
    z-index: 50;
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    width: 10rem;
    border: solid 1px var(--custom-midgray);
    border-radius: 20px;
    background: var(--bg-second-color);
    animation: fade-in .2s;
}

.edit-holding-popup-button {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    padding: .7rem;
    border-radius: 20px;
    cursor: pointer;
    transition: .1s ease;
}

.edit-holding-popup-button:hover {
    background: var(--bg-third-color);
}

.edit-holding-popup p {
    font-size: 1rem;
}

/* CARD VIEW */

.holdings-display.card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    animation: fade-in .5s;
}

.holdings-display.card .column-labels {
    display: none;
}

.holdings-display.card .asset-item {
    position: relative;
    padding: .8rem;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    border: solid 1px var(--custom-midgray);
    background: var(--bg-second-color);
    user-select: none;
    transition: .1s ease;
}

.holdings-display.card .asset-item:hover {
    box-shadow: 0 0 .3rem var(--custom-midgray);
}

.holdings-display.card .asset-item h3 {
    display: flex;
    flex-direction: row;
    width: 3.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 500;
}

.holdings-display.card .asset-item h4 {
    margin-top: .3rem;
    font-size: .9rem;
    font-weight: 500;
}

.holdings-display.card .asset-item .price {
    position: absolute;
    bottom: 2.7rem;
    font-size: 1rem;
    font-weight: 500;
}

.holdings-display.card .asset-item .amount {
    position: absolute;
    top: .85rem;
    right: 2.2rem;
    display: flex;
    flex-direction: row;
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: .8rem;
    background: var(--custom-green);
    color: var(--bg-second-color);
}

.holdings-display.card .asset-item .value {
    display: none;
}

.holdings-display.card .asset-item .change {
    position: absolute;
    bottom: .7rem;
    padding: .3rem .4rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.holdings-display.card .edit-holding-button {
    position: absolute;
    top: .3rem;
    right: .3rem;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    transition: .1s ease;
}

.holdings-display.card .edit-holding-button:hover {
    background: var(--translucent-gray);
}

/* LIST VIEW */

.holdings-display.list {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    margin: 2rem auto 0;
}

.holdings-display.list .column-labels {
    display: grid;
    grid-template-columns: 13% 30% 13% 13% 13% 13% 5%;
    margin-bottom: .5rem;
    width: 100%;
}

.holdings-display.list .column-labels p {
    font-size: .8rem;
    text-align: left;
    color: var(--custom-gray);
}

.holdings-display.list .asset-item {
    position: relative;
    display: grid;
    grid-template-columns: 13% 30% 13% 13% 13% 13% 5%;
    width: 100%;
    height: 3rem;
    align-items: center;
    border-top: solid 1px var(--custom-midgray);
    animation: fade-in .5s;
}

.holdings-display.list .asset-item h3 {
    display: flex;
    flex-direction: row;
    width: 3.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 500;
    user-select: none;
}

.holdings-display.list .asset-item h4 {
    font-size: 1rem;
    font-weight: 500;
}

.holdings-display.list .asset-item .price {
    font-size: 1rem;
    font-weight: 400;
}

.holdings-display.list .asset-item .amount {
    font-weight: 400;
}

.holdings-display.list .asset-item .value {
    font-weight: 400;
}

.holdings-display.list .asset-item .change {
    padding: .3rem .4rem;
    width: 5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    user-select: none;
}

.holdings-display.list .edit-holding-button {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    transition: .1s ease;
}

.holdings-display.list .edit-holding-button:hover {
    background: var(--translucent-gray);
}

/* ADD INVESTMENTS */

.add-investments-button {
    padding: .5rem 1rem;
    border-radius: 20px;
    box-shadow: 0 0 .1rem var(--custom-green);
    background: var(--custom-green);
    cursor: pointer;
    user-select: none;
    transition: .2s ease;
}

.add-investments-button:hover {
    box-shadow: 0 0 .4rem var(--custom-midgreen);
    background: var(--custom-midgreen);
}

.add-investments-button p {
    font-size: 1.2rem;
    text-align: center;
    color: var(--bg-second-color);
}

.add-investments-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    align-items: center;
    justify-content: top;
    width: 30rem;
    height: 40rem;
    overflow: hidden;
}

.close-add-investments {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    padding: .5rem 1rem;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 .1rem var(--custom-blue);
    font-size: 1rem;
    color: var(--bg-second-color);
    background: var(--custom-blue);
    cursor: pointer;
    user-select: none;
    transition: box-shadow .2s ease;
}

.close-add-investments:hover {
    box-shadow: 0 0 .3rem var(--custom-blue);
}

.add-investments-panel h2 {
    margin-top: .8rem;
    font-weight: 500;
}

.search-input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 1.2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.search-input-container .icon {
    position: absolute;
    left: .5rem;
    font-size: 1.5rem;
}

.search-input-container input {
    padding: 1rem 1rem 1rem 2.3rem;
    width: 25rem;
    height: 2rem;
    font-size: 1.1rem;
}

.purchase-items-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    overflow-y: scroll;
}

.purchase-item {
    display: grid;
    grid-template-columns: 20% 50% 20% 10%;
    width: 26rem;
    padding: .3rem 0;
    align-items: center;
    border-top: solid 1px var(--custom-midgray);
}

.purchase-item h3 {
    display: flex;
    flex-direction: row;
    width: 3.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 500;
    user-select: none;
}

.purchase-item h4 {
    font-size: 1rem;
    font-weight: 400;
}

.purchase-item p {
    font-size: 1rem;
    font-weight: 400;
}

.purchase-item .purchase-button {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 0;
    height: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    font-size: 1.4rem;
    background: var(--custom-green);
    color: var(--bg-second-color);
    cursor: pointer;
    user-select: none;
    transition: .2s ease;
}

.purchase-item .purchase-button:hover {
    box-shadow: 0 0 .2rem var(--custom-green);
    background: var(--custom-midgreen);
}

/* RECORD BUY / RECORD SELL / SELL ALL PANELS */

.record-buy-panel,
.record-sell-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    align-items: left;
    justify-content: center;
}

.record-buy-panel h1,
.record-sell-panel h1 {
    margin-bottom: .3rem;
    text-align: center;
    font-weight: 500;
}

.record-buy-panel .error-message,
.record-sell-panel .error-message {
    align-self: center;
    width: 18rem;
    text-align: center;
    color: var(--custom-lightred);
}

.record-buy-input-container,
.record-sell-input-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
}

.record-buy-panel .input-content,
.record-sell-panel .input-content,
.sell-all-panel .input-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.record-buy-panel input,
.record-sell-panel input,
.sell-all-panel input {
    padding: .5rem;
    width: 5rem;
    font-size: 1.1rem;
}

.price-container {
    display: flex;
    flex-direction: row;
    gap: .2rem;
}

.price-container p {
    align-self: center;
}

.price-container span {
    align-self: end;
    font-size: 1.3rem;
}

.record-buy-button-container,
.record-sell-button-container {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.record-buy-panel .cancel-button,
.record-sell-panel .cancel-button {
    display: flex;
    justify-self: left;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 2.5rem;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    transition: .2s ease;
}

.record-buy-panel .cancel-button:hover,
.record-sell-panel .cancel-button:hover {
    background: var(--translucent-blue);
}

.record-buy-panel .cancel-button p,
.record-sell-panel .cancel-button p {
    text-align: center;
    font-size: 1.1rem;
    color: var(--custom-blue);
}

.record-buy-panel .buy-button {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 2.5rem;
    border-radius: 20px;
    background: var(--custom-green);
    cursor: pointer;
    user-select: none;
    transition: .2s ease;
}

.record-buy-panel .buy-button:hover {
    box-shadow: 0 0 .3rem var(--custom-green);
    background: var(--custom-midgreen);
}

.record-buy-panel .buy-button p {
    text-align: center;
    font-size: 1.1rem;
    color: var(--bg-main-color);
}

.record-sell-panel .sell-button {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 2.5rem;
    border-radius: 20px;
    background: var(--custom-red);
    cursor: pointer;
    user-select: none;
    transition: .2s ease;
}

.record-sell-panel .sell-button:hover {
    box-shadow: 0 0 .3rem var(--custom-midred);
    background: var(--custom-midred);
}

.record-sell-panel .sell-button p {
    text-align: center;
    font-size: 1.1rem;
    color: var(--bg-main-color);
}

.sell-all-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    min-width: 23rem;
    align-items: left;
    justify-content: center;
}

.sell-all-panel h1 {
    margin-bottom: .6rem;
    text-align: center;
    font-weight: 500;
}

.sell-all-panel .sell-all-button-container {
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.sell-all-panel .cancel-button {
    display: flex;
    justify-self: left;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 2.5rem;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    transition: .2s ease;
}

.sell-all-panel .cancel-button:hover {
    background: var(--translucent-blue);
}

.sell-all-panel .cancel-button p {
    text-align: center;
    font-size: 1.1rem;
    color: var(--custom-blue);
}

.sell-all-panel .sell-all-button {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 2.5rem;
    border-radius: 20px;
    background: var(--custom-red);
    cursor: pointer;
    user-select: none;
    transition: .2s ease;
}

.sell-all-panel .sell-all-button:hover {
    box-shadow: 0 0 .3rem var(--custom-midred);
    background: var(--custom-midred);
}

.sell-all-panel .sell-all-button p {
    text-align: center;
    font-size: 1.1rem;
    color: var(--bg-main-color);
}